@model IEnumerable<ShoeStore.Models.Shoe>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sklep z obuwiem";
}

<h1>Sklep z obuwiem</h1>

<a asp-action="Create" class="btn btn-primary mb-3">Przejdz do koszyka</a>


<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Rozmiar</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shoe in Model)
        {
            <tr>
                <td>@shoe.Name</td>
                <td>@shoe.Description</td>
                <td>@shoe.Price zł</td>
                <td>@shoe.Size</td>
                <td>
                    <form asp-action="Delete" method="post" class="d-inline">
                        <input type="hidden" asp-for="@shoe.Id" name="id" />
                        <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                    </form>
            </tr>
        }
    </tbody>
</table>
